In [1]:
a = 2

# Changing variable
I am going to change my variable

In [2]:
# change the value of a
a = 3

In [3]:
print(a)

3

In [4]:
print("Welcome to the world of Python")

Welcome to the world of Python

In [5]:
print("Hello\nLets learn about new line")

Hello
Lets learn about new line

# Variable

In [6]:
x  = 5
y = "teclov"

In [7]:
x

5

In [8]:
# Its case sensitive
X

NameError: name 'X' is not defined

In [9]:
# use keyword - will throw error 
try = 1

SyntaxError: invalid syntax (<ipython-input-9-b6927a23607c>, line 2)

In [10]:
# address 
print(id(x))

1363172528

# Keywords

Get all keywords

In [11]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
print("Total keywords:", len(keyword.kwlist))

Total keywords: 33

In [13]:
#cant use special characters
a@ = 1

SyntaxError: invalid syntax (<ipython-input-13-9ecb56f23b68>, line 2)

In [14]:
#will return type
type(x)

int

In [15]:
type(y)

str

In [16]:
a, b, c = 2

TypeError: 'int' object is not iterable

In [17]:
a, b, c = 2, 2, 2

In [18]:
a, b, c

(2, 2, 2)

# Numerical Operations

In [19]:
a = 10
b = 20
print(a+b)

print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

30
-10
200
0.5
0
10
100000000000000000000

In [20]:
#BEDMAS
print( 4 * 5 - 9 + 6 / 7)

11.857142857142858

In [21]:
a = 9

In [22]:
a+=1
print(a)
a-=1
print(a)

10
9

In [23]:
import math
x = 2
print(math.log(x))
print(math.sin(x))
print(math.cos(x))
print(math.tan(x))

0.6931471805599453
0.9092974268256817
-0.4161468365471424
-2.185039863261519

# LOGICAL OPERATION

In [24]:
# Logical
print(3 < 4)
print(True and False)
print(True or False)
print(a!=b)
print(True and not False)
print(not True and not False)

True
False
True
True
True
False

In [25]:
a = True
type(a)

bool

In [26]:
not(a)

False

# String values and operator

In [27]:
x = 'teclov'
y = 'GEEKSHUB'
x, y

('teclov', 'GEEKSHUB')

In [28]:
len(x), len(y)

(6, 8)

In [29]:
small = 'hello lets convert to upper'
print(small.upper())

large = 'HELLO LETS CONVERT TO LOWER'
print(large.lower())

HELLO LETS CONVERT TO UPPER
hello lets convert to lower

In [30]:
some_sentence = "There is some space at the end       "
print(some_sentence)
print(len(some_sentence))
print(some_sentence.rstrip())
print(len(some_sentence.rstrip()))

There is some space at the end
37
There is some space at the end
30

In [31]:
increment = '4%'
print(increment.rstrip('%'))

4

In [32]:
start  = '   There is some space at the start'
print(start)
print(len(start))
print(start.lstrip())
print(len(start.lstrip()))

   There is some space at the start
35
There is some space at the start
32

In [33]:
num_with_chars = '*44444#'
print(num_with_chars.rstrip('*').lstrip('#'))
print(num_with_chars.lstrip('*').rstrip('#'))
print(num_with_chars.rstrip('#').lstrip('*'))

*44444#
44444
44444

In [34]:
val = '4 apples'
no_of_apples = val[0]
print('number of apples is {}'.format(no_of_apples))

number of apples is 4

In [35]:
what = val[2:]
print(what)

apples

In [36]:
what.replace("a","$#@")

'$#@pples'

In [37]:
#slicing by specifying start and end index
print(val[2:5])

app

In [38]:
batch = "5 oranges 3 monkeys and"
fruits = batch[:9]
print(fruits)

5 oranges

In [39]:
print(batch[:-2])

5 oranges 3 monkeys a

In [40]:
animals = batch[10:-2]
print(animals)

3 monkeys a

In [41]:
nums = '123456789'
even_num = nums[1::2]
print(even_num)
odd_num = nums[0::2]
print(odd_num)

2468
13579

In [42]:
oda = nums[::2]
print(oda)

13579

In [43]:
#string operation
f_name = 'geekshub'
l_name = 'teclov'

name = f_name + " " + l_name
print(name)

n1 = f_name + " " + l_name + " pvt. Ltd."
print(n1)

geekshub teclov
geekshub teclov pvt. Ltd.

In [44]:
"""Lets also understand example of 
multiline comments
"""

f_name.capitalize()

'Geekshub'

In [45]:
age = 20
my_age  = ("I am " + str(age) + " years old.")
my_age

'I am 20 years old.'

In [46]:
My_age = "I am {0} years old".format(age)
My_age

'I am 20 years old'

In [47]:
A = "Data"
B = "Analysis"
C = "Python"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Python

In [48]:
#concat and update

name += ' ' + my_age
print(name)

geekshub teclov I am 20 years old.

In [49]:
x = "as"
y = "assignment"

x in y

True

# LISTS IN PYTHON

In [50]:
email = "hdfkvuvdhfbvjvlbjvbflvkflkjdbfvkjldfvbfd i ck hsd ccdfv f  duhf fvd fdvv"

In [51]:
a = []
print(a)

[]

In [52]:
type(a)

list

In [53]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

In [54]:
type(languages)

list

In [55]:
print(languages[0])
print(languages[1:4])
print(languages[-2])
print(languages[1:])
print(languages[2])
print(languages[:-2])
print(languages[0::2])

R
['Python', 'SAS', 'Scala']
Scala
['Python', 'SAS', 'Scala', 42]
SAS
['R', 'Python', 'SAS']
['R', 'SAS', 42]

In [56]:
languages.append('ML')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'ML']

In [57]:
languages.pop()

'ML'

In [58]:
languages

['R', 'Python', 'SAS', 'Scala', 42]

In [59]:
languages.pop(0)
print(languages)

['Python', 'SAS', 'Scala', 42]

In [60]:
languages.pop(1)
print(languages)

['Python', 'Scala', 42]

In [61]:
languages.append('Deep Learning')
# languages.remove('Deep Learning')
print(languages)

['Python', 'Scala', 42, 'Deep Learning']

In [62]:
languages.remove('Deep Learning')
print(languages)

['Python', 'Scala', 42]

In [63]:
new_list = languages
languages.append('Java')
print(new_list)

['Python', 'Scala', 42, 'Java']

In [64]:
print(id(languages))
print(id(new_list))

1758271068360
1758271068360

In [65]:
new_list = languages[:]
print(id(new_list))

1758270356104

In [66]:
a_list = languages.copy()
print(id(a_list))

1758271068616

In [67]:
mail = "Hi Teclov, you are doing an awesome job. Keep it up."

In [68]:
words = mail.split()
print(words)

['Hi', 'Teclov,', 'you', 'are', 'doing', 'an', 'awesome', 'job.', 'Keep', 'it', 'up.']

In [69]:
sentence_in_mail = mail.split('.')
print(sentence_in_mail)

['Hi Teclov, you are doing an awesome job', ' Keep it up', '']

In [70]:
new_mail= ". ".join(sentence_in_mail)
print(new_mail)

Hi Teclov, you are doing an awesome job.  Keep it up.

In [71]:
l1 = ["Teclov"]
print(l1*6)

['Teclov', 'Teclov', 'Teclov', 'Teclov', 'Teclov', 'Teclov']

In [72]:
print(l1 + l1)

['Teclov', 'Teclov']

In [73]:
nums  = [2,6,9,3,2,10]
print(len(nums))

6

In [74]:
print(nums[1::2])

[6, 3, 10]

In [75]:
nums[2] = "!!!"
nums

[2, 6, '!!!', 3, 2, 10]

In [76]:
nums  = [2,6,9,3,2,10]
print(sorted(nums))

[2, 2, 3, 6, 9, 10]

In [77]:
print(max(nums))
print(min(nums))

10
2

In [78]:
n = [[1,2,3,4],[5,6,7],[8,9,10]]
print(n[1])

[5, 6, 7]

In [79]:
print(n[0][1])

2

# TUPLES IN PYTHON

In [80]:
first = (30, "teclov", 5.8)
print(first[0])

30

In [81]:
type(first)

tuple

In [82]:
city = ("Bengaluru", 28.9949521, 72)
print(city)

('Bengaluru', 28.9949521, 72)

In [83]:
new = city
print(new)
print(id(new))
print(id(city))
type(new)

('Bengaluru', 28.9949521, 72)
1758270319424
1758270319424

tuple

In [84]:
#will throw an error
new[1] = 13.8877

TypeError: 'tuple' object does not support item assignment

In [85]:
b = city [:-1]
print(b)
print(len(b))

('Bengaluru', 28.9949521)
2

In [86]:
new1 = 123, 543, 'hello!'
new1

(123, 543, 'hello!')

In [87]:
type(new1)

tuple

In [88]:
new2 = new1, (1,2,3,4,5)
new2

((123, 543, 'hello!'), (1, 2, 3, 4, 5))

In [89]:
print(new2[1])
new2[0]

(1, 2, 3, 4, 5)

(123, 543, 'hello!')

In [90]:
#must error out
new2[3]

IndexError: tuple index out of range

In [91]:
var1 = ([1,2,3],[4,5,6])
var1

([1, 2, 3], [4, 5, 6])

In [92]:
var1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [93]:
var1[0][0] = 2
var1

([2, 2, 3], [4, 5, 6])

In [94]:
c = list(var1)
print(" c is: {0}".format(c))
c= tuple(c)
print(" c is now a tuple: {0}".format(c))

 c is: [[2, 2, 3], [4, 5, 6]]
 c is now a tuple: ([2, 2, 3], [4, 5, 6])

# SETS IN PYTHON

In [95]:
stud_grades = ['A','A','B','C','C','F']

In [96]:
stud_grades = set(stud_grades)
print(stud_grades)

{'B', 'C', 'A', 'F'}

In [97]:
print(type(stud_grades))

<class 'set'>

In [98]:
stud_grades2 = ['A','N','F','N','G','A']
stud_grades2 = set(stud_grades2)
stud_grades2

{'A', 'F', 'G', 'N'}

In [99]:
print(stud_grades.intersection(stud_grades2))

{'A', 'F'}

In [100]:
print(stud_grades.union(stud_grades2))

{'C', 'A', 'F', 'B', 'N', 'G'}

In [101]:
print(stud_grades.difference(stud_grades2))

{'B', 'C'}

In [102]:
stud_grades

{'A', 'B', 'C', 'F'}

In [103]:
'A' in stud_grades

True

In [104]:
'G' in stud_grades

False

In [105]:
stud_grades.add('G')
print(stud_grades)

{'C', 'A', 'F', 'B', 'G'}

In [106]:
stud_grades.remove('G')
print(stud_grades)

{'C', 'A', 'F', 'B'}

In [107]:
for grades in stud_grades:
    print(grades)

C
A
F
B

In [108]:
for gr1 in stud_grades2:
    print(gr1)

G
A
F
N

In [109]:
stud_grades.issubset(stud_grades2)

False

In [110]:
stud_grades.symmetric_difference(stud_grades2)

{'B', 'C', 'G', 'N'}

# DICTIONARIES IN PYTHON

In [111]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [112]:
d = {"actor":"amir", "animal":"cat", "earth": 2, "list":[23,32,12]}

In [113]:
actor = d['actor']
print(actor)

amir

In [114]:
animal = d['animal']
print(animal)

cat

In [115]:
age = d.get('list')
print(age)

[23, 32, 12]

In [116]:
profession = d.get('Profession','NA')
print(profession)

NA

In [117]:
d['earth'] = 36
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 36, 'list': [23, 32, 12]}

In [118]:
# adding a key, value pair
d['Profession'] = 'Singer'
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 36, 'list': [23, 32, 12], 'Profession': 'Singer'}

In [119]:
print('Profession' in d)

True

In [120]:
#get list of keys
print(list(d.keys()))

#get list of values
print(list(d.values()))

['actor', 'animal', 'earth', 'list', 'Profession']
['amir', 'cat', 36, [23, 32, 12], 'Singer']

In [121]:
new = dict(Country= 'Honey Singh', Songs = ['Blue Eyes','Night Party'])

In [122]:
d.update(new)
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 36, 'list': [23, 32, 12], 'Profession': 'Singer', 'Country': 'Honey Singh', 'Songs': ['Blue Eyes', 'Night Party']}

In [123]:
del d['Songs']
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 36, 'list': [23, 32, 12], 'Profession': 'Singer', 'Country': 'Honey Singh'}

In [124]:
print(len(d))

6

In [125]:
#see all the details
print(list(d.values()))

['amir', 'cat', 36, [23, 32, 12], 'Singer', 'Honey Singh']

In [126]:
d[6] = ['Teclov',22]
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 36, 'list': [23, 32, 12], 'Profession': 'Singer', 'Country': 'Honey Singh', 6: ['Teclov', 22]}

In [127]:
print(len(d.keys()))

7

In [128]:
for a, b in d.items():
    print(a, ":", b)

actor : amir
animal : cat
earth : 36
list : [23, 32, 12]
Profession : Singer
Country : Honey Singh
6 : ['Teclov', 22]

# COMPREHENSIONS IN PYTHON

In [129]:
square_list = []

for x in range(1,10):
    square_list.append(x**2)
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [130]:
squares_list = [x**2 for x in range(1,10)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
paragraph = ["There was a fox.", 'It was brown in color.', "It was seen near that farm sometime back"]

In [132]:
single_word_list = []

for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)
        
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [133]:
single_word_list1 = [word for sentence in paragraph for word in sentence.split()]
print(single_word_list1)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [134]:
#list comp with if statement 
vowels = ['a', 'e', 'i', 'o', 'u']
v_from_sentence = []

for sentence in paragraph:
    for w in sentence.split():
        if w[0].lower() in vowels:
            v_from_sentence.append(w)

print(v_from_sentence)

['a', 'It', 'in', 'It']

In [135]:
# [for sentence in paragraph]
# [for sentence in paragraph for word in sentence.split()]

In [136]:
vowels_comp = [word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(vowels_comp)

['a', 'It', 'in', 'It']

In [137]:
sq_dictionary = {num: num**2 for num in range(0,25)}
print(sq_dictionary)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576}

In [138]:
st_data = {1:['Shivam Bansal', 24], 2:['Udit Bansal', 25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',27]}

In [139]:
names_dict  = {}

#iterate over each key, val pair
for roll_num, details in st_data.items():
    if roll_num%2==0:
        names_dict[roll_num] = details[0]
print(names_dict)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

In [140]:
names_comp = {roll_num:details[0] for roll_num, details in st_data.items() if roll_num%2==0}

In [141]:
print(names_comp)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

# LOOPING 

# If else Loop

In [142]:
a = 5
if a>50: 
    print('a is larger than 50')
else: 
    difference = 50 - a
    print('a is smaller than 50 by ' + str(difference) + ' units')

a is smaller than 50 by 45 units

In [146]:
#Elif 
num = int(input("Enter a number: "))

if num>0 : 
    print("Positive number")
elif num==0:
    print("It is ZERO")
else:
    print("Negative Number")

Enter a number: 2
Positive number

In [147]:
# FInd the smallest numberout of 3 variable
n1 = 2
n2 = 60
n3 = 78

if (n1 <= n2) and (n1 <= n3): #Logical operator and
    smallest = n1
elif (n2 <= n3) and (n2 <= n1): 
    smallest = n2
else: 
    smallest = n3

print("Smallest element among three 3 numbers is: {}".format(smallest))

Smallest element among three 3 numbers is: 2

In [148]:
if None: 
    print("Is True")
else:
    print("Is False")

Is False

# FOR LOOP

In [149]:
subjects = ["maths", "science", "hindi", "history"]

In [150]:
print(len(subjects[0]))
print(len(subjects[1]))
print(len(subjects[2]))
print(len(subjects[3]))

5
7
5
7

In [151]:
for i in range(4):
    print(len(subjects[i]))

5
7
5
7

In [152]:
for i in range(1,10,3):
    print(i)

1
4
7

In [153]:
str1 = ''
for i in range(0, 9):
    if i<5: 
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [154]:
my_string = "Hello from Teclov"

for n, alpha in enumerate(my_string):
    print(alpha, n)

H 0
e 1
l 2
l 3
o 4
  5
f 6
r 7
o 8
m 9
  10
T 11
e 12
c 13
l 14
o 15
v 16

In [155]:
#while loop
num = int(input("Enter a number: ")) #convet string to int

isDivisible = False;

i=2
while i < num/2:
    if num%i == 0:
        isDivisble = True
        print("{} is Divisble by {}".format(num,i))
    i+=1
    
if isDivisible: 
    print("{} is NOT a prime number".format(num))
else: 
    print("{} is a prime number".format(num))

Enter a number: 3
3 is a prime number

# FUNCTIONS

# Creating Functions

In [156]:
# Check Function-Teclov doc

In [157]:
#Documentation
def triple(num):
    """
    function to triple the number
    """
    return 3*num

In [158]:
triple(10)

30

In [159]:
print(triple.__doc__)

    function to triple the number

In [160]:
def Hello_World():
    print('Hello World')
Hello_World()

Hello World

In [161]:
def cube(num):
    out = num**3
    return out

In [162]:
cube1 = cube(3)

In [163]:
print(cube1)

27

In [164]:
q = cube(4)
print("Q is "+str(q))

Q is 64

In [165]:
#calculate factorial
def factorial(n):
    if n>1:
        return n*factorial(n-1)
    else:
        return 1

fact = factorial(28)
print(fact)

304888344611713860501504000000

In [166]:
def submition(*args):
    print(args)
    return(sum(args))

In [167]:
print(submition(1,2,3,4))

(1, 2, 3, 4)
10

In [168]:
# anonymous function
captain = "sfdhg dfd"
string_to_list = lambda x: x.split
print(string_to_list(captain))
print(type(string_to_list))

<built-in method split of str object at 0x000001996121C530>
<class 'function'>

In [169]:
multiply = lambda x, y: x*y
print(multiply(4,4))

16